.nav{
  padding: 1%;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #235b2d;
  color: white;
  
}
form input{
  background-color: #235b2d;
  max-width: 150%;
  margin: 1%;
  color: white;
}

form{
  
  display: flex;
  flex-direction: column;
  padding: 5%;
  max-width: 30%;
  margin-left: 33%;
}
::placeholder{
  color:white;
}

  html,
  body,
  .App,
  #root {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:palegreen;
  }
  
  .App {
    text-align: center;
    padding: 32px;
    letter-spacing: 2px;
  
  }

  .plant-list {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }

  .plants {
    border : 1px solid black;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 16px auto;
    text-align: left;
  }
  
  h3,
  h4 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  input, textarea {
    width: 200px;
    padding: 1px 20px;
    margin: 5px 5px;
    box-sizing: border-box;  
    border: 1px solid black;
    border-radius: 4px;
    
  }

  label {
    margin-bottom: -12px;
    text-align: left;
    width: 200px;
  }


  button {
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: mediumspringgreen;
  }


  