.App {
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  color: white;

}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.login {
  background-color:whitesmoke;
  border: 1px solid black;
  text-decoration: none;
  padding: 70px 150px;
  position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 
}

label {
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

input,
textarea {
  display: block;
  width: 150%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 8px;
}

button {
  width: 250px;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 11px;
  color: C9CfCA;
}