body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  background-color: #235b2d;
  color: white;
  
}
form input{
  background-color: #235b2d;
  max-width: 90%;
  margin: 1%;
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  padding: 5%;
  max-width: 30%;
  margin-left: 33%;
}
::placeholder{
  color:white;
}
form h1{
  margin-right: 8%;
  padding: 3%;
}
img{
  height: 360px;
  border-radius: 50%;
  margin-bottom: 3%;
}
h1{
  padding: 2%;
}
p{
  font-size: larger;
  font-weight: bolder;
  background-color: darkslategray;
  color: white;
  padding: 2%;
  width: 30%;
  margin-left: 35%;
  border-radius: 15px;
}
.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  padding: 20%;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}
.dark-mode {
  color: #313843;
  background-color: #313843;
}
.dark-mode .nav {
  background-color: #1F2022;
  border: none;
}
.dark-mode h1{
  color: dodgerblue;
}